<legend>Add Port</legend>
<form>
	<div>
		<input type="radio" name="portType" value="inputs" /> Input
		<input type="radio" name="portType" value="outputs" /> Output
	</div>
	<div>
		<label for="name">Port Name</label>
		<input type="text" name="name" id="name" placeholder="name" />
	</div>
	<div>
		<label for="type">Port Type</label>
		<select>
			<option value = "Any">Generic</option>
			<option value = "String">String</option>
			<option value = "Number">Number</option>
			<option value = "Boolean">Bool</option>
		</select>
	</div>
	<button type="submit">Add</button>
</form>

