<legend>Add Port</legend>
<form>
	<div>
		<input type="radio" name="portType" value="inputs" /> Input
		<input type="radio" name="portType" value="outputs" /> Output
	</div>
	<div>
		<label for="name">Port Name</label>
		<input type="text" name="name" id="name" placeholder="name" />
	</div>
	<div id="target">
		<label for="type">Port Type</label>
		<select name = "type" id = "type">
			<option value = "Any">Generic</option>
			<option value = "String">String</option>
			<option value = "Float">Float</option>
			<option value = "Bool">Boolean</option>
		</select>
	</div>
	<button type="submit">Add</button>
</form>

