<legend>Context</legend>
<form>
	<div>
		<label for='author'>Author</label>
		<input type="text" name="author" id="author" placeholder="author" />
	</div>
	<div>
		<label for="affiliation">Affiliation</label>
		<input type="text" name="affiliation" id="affiliation" placeholder="affiliation" />
	</div>
	<div>
		<label for="keywords">Keywords</label>
		<input type="text" name="keywords" id="keywords" placeholder="keywords" />
	</div>
	<div>
		<label for="purpose">Purpose</label>
		<textarea rows = "5" cols = "5" name = "purpose" id = "description" placeholder = "purpose"></textarea>
 	</div>
	<div>
		<label for="description">description</label>
		<textarea rows="5" cols="5" name="description" id="description" placeholder="description"></textarea>
	</div>
	<button type="submit">Save</button>
</form>

