<form>
<fieldset>
<legend>Format</legend>
  <div>
    <label for='JSON'>JSON</label>
    <input type="checkbox" name="JSON" id="JSON" <%= JSON %> />
  </div>
  <div>
    <label for='Binary'>Binary</label>
    <input type="checkbox" name="Binary" id="Binary" <%= Binary %> />
  </div>
  <div>
    <label for='ML'>ML</label>
    <input type="checkbox" name="ML" id="ML" <%= ML %> />
  </div>
  <div>
    <label for='PMML'>PMML</label>
    <input type="checkbox" name="PMML" id="PMML" <%= PMML %> />
  </div>
</fieldset>
</form>