body > header
  _w = 480px
  _h = 345.6px 
  left: 50%
  top: 50%
  margin-left: 0 - (_w / 2)
  margin-top: 0 - (_h / 2)
  height: _h 
  width: _w
  background: url(../assets/images/logo.png) 0 0 no-repeat
  position: absolute
  // background-color: #333333

  h1
    font-size: 1.8em
    text-align: center
    padding-top: 3.5em
    color: #d0d0d0 
    text-indent: -9999px

  h2
    font-size: 1em
    text-align: center
    text-indent: -9999px
