background_color = #333

node_color = #fff
node_abstract_color = #BDBDDE
node_data_color = #DFE2DB
node_run_color = #A3E6C4
main_color = #ff7800

blueprint-font-size = 11px
blueprint-font-family = "Helvetica Neue", Arial, Helvetica, sans-serif
mono = "andale mono", "lucida console", monospace
